@font-face {
  font-family: flexultralight;
  src: url(fonts//EuclidFlexUltraLight.ttf);
}
@font-face {
  font-family: flexlight;
  src: url(fonts/EuclidFlexLight.ttf);
}
@font-face {
  font-family: flexthin;
  src: url(fonts/EuclidFlexThin.ttf);
}
@font-face {
  font-family: flexregular;
  src: url(fonts/EuclidFlexRegular.ttf);
}
@font-face {
  font-family: flexmedium;
  src: url(fonts/EuclidFlexMedium.ttf);
}
@font-face {
  font-family: flexsemibold;
  src: url(fonts/EuclidFlexSemiBold.ttf);
}
@font-face {
  font-family: flexbold;
  src: url(fonts/EuclidFlexBold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=====================
======NAVBAR==========
=====================*/

nav {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}

/*=====================
======SECTION==========
=====================*/

section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.middle-part {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  font-size: 32px;
  font-family: flexmedium;
  color: #323232;
}

.conx{
  font-size: 17px;
  font-family: flexthin;
  color: #bababa;
}

input[type="text"],input[type="password"] {
  height: 50px;
  width: 280px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #0a66c2;
  padding-left: 24px;
  color: #323232;
  font-size: 16px;
  font-family: flexthin;
}

input::-webkit-input-placeholder {
  color: #bababa;
  font-size: 16px;
  font-family: flexthin;
}

input[type="submit"] {
  height: 50px;
  width: 280px;
  background-color: #0a66c2;
  color: white;
  font-family: flexthin;
  font-size: 20px;
  padding: 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comptetext {
  font-size: 12px;
  color: #323232;
  font-family: flexthin;
  margin-left: 28px;
  margin-top: 8px;
}
.comptetext a {
  font-size: 12px;
  color: #0a66c2;
  font-family: flexregular;
  text-decoration: none;
}

form {
  margin-top: 30px;
}